
.menghitung {
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'DynaPuff', cursive;
    color: rgba(255, 255, 255, 0.584);

}

.menghitung .box-menghitung{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.menghitung .box-menghitung .box {
    display: flex;
    justify-content: center;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.207);
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
    width: 100%;
    transition: 0.5s;
}

.menghitung .box-menghitung h1{
    color: #2b3a55b5;
    transition: 0.5s;
    font-size: 27px;
}

.menghitung .box-menghitung h1:hover{
    transform: translate(0%, 20%);
    top: 75%;
    right: 50%;
}
.menghitung .box-menghitung .box:hover {
    display: flex;
    justify-content: center;
    font-size: 20px;
    background-color: rgba(255, 216, 175, 0.292);
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 50px;
    width: 100%;
}

.menghitung .box-menghitung .box .reza{
    color: #6103ed77;
}

.menghitung .box-menghitung .box span{
    font-weight: bold;
    color: #2b3a55b5;
}

.menghitung .box-menghitung .box .input{
    color: rgba(255, 255, 255, 0.69);
    background-color: transparent;
    border-top:none ;
    border-left: none;
    border-right: none;
    border-width: 4px;
    border-image: linear-gradient(to right, rgb(139, 0, 0), rgb(50, 137, 204)) 1;
    margin: 10px;
    font-family: 'DynaPuff', cursive;
    font-size: 17px;
    border-radius: 3px;
    font-weight: bold;
    padding-left: 6px;
    transition: 0.5s;
}

.menghitung .box-menghitung .box .input:hover{
    color: rgba(255, 255, 255, 0.69);
    background-color: transparent;
    border-width: 4px;
    border-image: linear-gradient(to right,rgb(50, 137, 204) ,rgb(139, 0, 0) ) 1;
    margin: 10px;
    font-family: 'DynaPuff', cursive;
    font-size: 17px;
    border-radius: 5px;
    font-weight: bold;
    padding-left: 25px;
}

.menghitung .box-menghitung .box .Reset{
    margin-bottom: 30px;
    margin-left: 20px;
    background-color: rgba(100, 148, 237, 0.34);
    color: rgb(72, 72, 72);
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 10px;
    border: 3px solid transparent;
    padding: 6px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'DynaPuff', cursive;
    transition: 0.5s;

}

.menghitung .box-menghitung .box .Reset:hover{
    margin-bottom: 30px;
    margin-left: 20px;
    background-color: rgba(100, 148, 237, 0.34);
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(111, 109, 255), rgb(109, 228, 255)) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 15px;
    border: 3px solid transparent;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'DynaPuff', cursive;
    font-weight: bold;
}

.menghitung .box-menghitung .box .Button{
    margin-bottom: 30px;
    background-color: rgba(100, 148, 237, 0.34);
    color: rgb(72, 72, 72);
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 10px;
    border: 3px solid transparent;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'DynaPuff', cursive;
    transition: 0.5s;
}

.menghitung .box-menghitung .box .Button:hover{
    margin-bottom: 30px;
    background-color: rgba(100, 148, 237, 0.34);
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(223, 107, 255), rgb(255, 107, 107)) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 15px;
    border: 3px solid transparent;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'DynaPuff', cursive;
    font-weight: bold;
}

